body {
	margin: auto;
	margin-top: 10px;
	width: 1400px;
}

#notification-menu {
	padding: 10px;
	width: 400px;
	height: 358px;
	overflow-y: scroll;
}

.notification-card {
	margin: 10px 0px 10px 0px;
	padding: 10px;
}

.notification-card img {
	margin-right: 10px;
} 