body {
	margin: auto;
	margin-top: 10px;
	width: 1400px;
}

#notification-menu {
	padding: 10px;
	width: 400px;
	height: 358px;
	overflow-y: scroll;
}

.notification-card {
	margin: 10px 0px 10px 0px;
	padding: 10px;
}

.notification-card img {
	margin-right: 10px;
}

.sidelist {
	height: 250px;
	overflow-y: scroll;
	margin-bottom: 40px;
}

.sidelistBtn {
	width: 100%;
}

.col-mod-l {
	width: 20%;
}

.col-mod-r {
	width: 79%;
}

#skipPhoto {
	margin-left: 130px;
}

#filePath {
	margin-left: 10px;
}

.is-invalid {
	border: 2px solid red;
}

#loginLabel {
	text-align: center;
}

#registerLabel {
	text-align: center;
}